.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333333;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}

.boton-naranja {
    -fx-background-color: #ffaa00;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.boton-naranja:hover {
    -fx-background-color: #e68a00;
}

.boton-nav {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 50;
    -fx-padding: 8 12 8 12;
}
.boton-nav:hover {
    -fx-background-color: rgba(255,255,255,0.6);
}

.boton-oscuro {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}
.boton-oscuro:hover {
    -fx-background-color: #555555;
}

.boton-peligro {
    -fx-background-color: #e63946;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
.boton-peligro:hover {
    -fx-background-color: #ff6b6b;
}

.text-field {
    -fx-font-size: 14px;
}