.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333333;
    -fx-font-size: 24px;
    -fx-cursor: hand;
    -fx-padding: 10 20;
}

.text-field {
    -fx-font-size: 22px;
    -fx-padding: 10px;
    -fx-background-radius: 5;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #222222;
}

.table-view {
    -fx-font-size: 20px;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center-left;
}

.table-row-cell {
    -fx-cell-size: 60px;
}

.table-view:focused .table-row-cell:filled:selected,
.table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: #ffaa00;
    -fx-text-fill: black;
}

.boton-naranja {
    -fx-background-color: #ffaa00;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.boton-naranja:hover {
    -fx-background-color: #e68a00;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.boton-nav {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 50;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10;
}

.boton-nav:hover {
    -fx-background-color: rgba(255,255,255,0.6);
}

.boton-oscuro {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-padding: 12 25;
}

.boton-oscuro:hover {
    -fx-background-color: #555555;
}

.boton-peligro {
    -fx-background-color: #e63946;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 12 25;
}

.boton-peligro:hover {
    -fx-background-color: #ff6b6b;
}

.date-picker .text-field {
    -fx-font-size: 20px;
}

.date-picker .button {
    -fx-font-size: 18px;
}

.titulo-header {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 2, 2); /* Sombra suave opcional */
}